.userContainer{
    border-left: 3px solid gray;
    height: 600px;
    width: 20%;
    margin-top: 100px;
    position: fixed;
    align-items: top;
    justify-content: center;
    display: flex;
    margin-left: 80%; 
    margin-right: 0;
}